<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 등록</title>
</head>
<body>
        <center>
            <h1>사용자 등록</h1>
            <img src="img/main.png" width="300", height="300"/>
            <br>
            <table>
                <% %>
                <form action="/applyUser" method="POST">
                    <label>EMAIL: </label>
                    <input id="userEmail" name="userEmail" type="text" pleaceholder="EMAIL">
                    <br />
                    <label>NAME : </label>
                    <input id="userName" name="userName" type="text" pleaceholder="NAME">
                    <br />
                    <label>ID   : </label>
                    <input id="userId" name="userId" type="text" pleaceholder="ID">
                    <br />
                    <label>PW   : </label>
                    <input id="userPassword" name="userPassword" type="password" placeholder="PASSWORD">
                    <br />
                    <button type="submit ">회원가입 신청!</button>
                </form>
            </table>
            <p>회원가입 실패 : ID혹은 EMAIL 중복입니다.</p>
        </center>

</body>
</html>