<html>

<head>
    <meta charset="utf-8">
    <title>
        Profile - SSU Community 
    </title>
</head>

<body>
    <left>
        <h1>FOLLOW</h1>
        
        <br>

        <div>
            현재 팔로우 중인 사람 ID :<br>
            <% for(var i = 0; i < nowFollowing.length; i++) { %>
                <%= nowFollowing[i] %>
                <br>
            <% } %>
        </div>
        <br><br>
        <div>
            팔로우가 가능한 사람 ID (현재 팔로우하지 않은 사람):<br>
            <% for(var i = 0; i < notFollowed.length; i++) { %>
                <%= notFollowed[i] %>
                <br>
            <% } %>
        </div>

    </left>
</body>

</html>