<html>

<head>
    <meta charset="utf-8">
    <title>
        Profile - SSU Community 
    </title>
</head>

<body>
    <left>
        <h1>Profile</h1>
        
        <br>

        <div id="userId"> USER ID : <%= user.userId%> </div> <br>
        <div>
            NOW DATE : 
            <%date = new Date()%>
            <%=JSON.stringify(new Date()) %>
        </div> <br>
        <div>
            FOLLOWING : <br>
                사용자가 팔로우 중인 사람 수 : <%= followerCount %><br>
                사용자를 팔로우 중인 사람 수 : <%= followedCount %><br>
        </div>

    </left>
</body>

</html>